*/.venv
docs/consult_notes.md
Helpful
options.db
Database/conn_test.py
Database/data_types.txt
Database/yfin_test.py
Database/alpha_vantage_data.csv
Database/etf_scraper.py
Database/foreign_key.pub
bakalarka.aux
bakalarka.bbl
bakalarka.bcf
bakalarka.bib
bakalarka.bib.bbl
bakalarka.bib.blg
bakalarka.blg
bakalarka.fdb_latexmk
bakalarka.fls
bakalarka.log
bakalarka.pdf
bakalarka.run.xml
bakalarka.synctex.gz
bakalarka.toc
docs/literatura.bib
Database/__pycache__
Database/sample_data
Database/reqs_full.txt
Database/titles.txt
Database/wtf.log
Prezentacestock_data_2026-01-10.csv
american_options_2026-01-11.csv
Data_fetch/action_plan.md
Data_fetch/american_options_2026-01-26.csv
Data_fetch/data_fetcher.egg-info
Data_fetch/euro_indexes_old.txt
Data_fetch/european_options_2026-01-26.csv
Data_fetch/find_dividend_stocks.py
Data_fetch/my_random_script.py
Data_fetch/stock_prices_2026-01-26.csv
