*/.venv
docs/consult_notes.md
Helpful
options.db
Database/conn_test.py
Database/data_types.txt
Database/yfin_test.py
Database/alpha_vantage_data.csv
Database/etf_scraper.py
Database/foreign_key.pub
Database
bakalarka.aux
bakalarka.bbl
bakalarka.bcf
bakalarka.bib
bakalarka.bib.bbl
bakalarka.bib.blg
bakalarka.blg
bakalarka.fdb_latexmk
bakalarka.fls
bakalarka.log
bakalarka.pdf
bakalarka.run.xml
bakalarka.synctex.gz
bakalarka.toc
docs/literatura.bib
