*/.venv
docs/consult_notes.md
Helpful
options.db
Database/conn_test.py
Database/data_types.txt
Database/yfin_test.py
Database/alpha_vantage_data.csv
Database/etf_scraper.py
Database/foreign_key.pub
bakalarka.aux
bakalarka.bbl
bakalarka.bcf
bakalarka.bib
bakalarka.bib.bbl
bakalarka.bib.blg
bakalarka.blg
bakalarka.fdb_latexmk
bakalarka.fls
bakalarka.log
bakalarka.pdf
bakalarka.run.xml
bakalarka.synctex.gz
bakalarka.toc
docs/literatura.bib
Database/__pycache__
Database/sample_data
Database/reqs_full.txt
Database/titles.txt
Database/wtf.log
Prezentacestock_data_2026-01-10.csv
american_options_2026-01-11.csv
Data_fetch/action_plan.md
Data_fetch/data_fetcher.egg-info
Data_fetch/euro_indexes_old.txt
Data_fetch/find_dividend_stocks.py
Data_fetch/my_random_script.py
AGENTS.md
Data_fetch/uv.lock
daily.md
notes.md
to-do.md
bakalarka2.toc
bakalarka2.toc
bakalarka2.toc
bakalarka2.log
bakalarka2.aux
bakalarka2.bcf
bakalarka2.run.xml
Data_fetch/__pycache__
.RData
.Rhistory
Notes
Psani/bakalarka2.bbl
Psani/bakalarka2.blg
Psani/bakalarka2.tex.bbl
Psani/bakalarka2.tex.blg
Psani/thesis.bbl
Psani/thesis.bib.bbl
Psani/thesis.bib.blg
Psani/thesis.blg
docs/thesis_ki_ujep-main.zip
ticker_summary.html
ticker_summary.pdf
ticker_summary.tex
Literatura/vdoc.pub_numerical-recipes-the-art-of-scientific-computing.pdf
hello.txt
temp_todo.md
Psani/bakalarka2.bbl-SAVE-ERROR
Psani/bakalarka2.bcf-SAVE-ERROR
Psani/binom.aux
Psani/binom.synctex.gz
Psani/binom.run.xml
Psani/binom.pdf
Psani/binom.log
Psani/binom.fls
Psani/binom.fdb_latexmk
Psani/binom.blg
Psani/binom.bcf
Psani/binom.bbl
Psani/monte_carlo.synctex.gz
Psani/monte_carlo.run.xml
Psani/monte_carlo.aux
Psani/monte_carlo.bbl
Psani/monte_carlo.bcf
Psani/monte_carlo.blg
Psani/monte_carlo.fdb_latexmk
Psani/monte_carlo.fls
Psani/monte_carlo.log
Psani/monte_carlo.pdf
current_obj.md
dumbass.tex
hi
figure
